<h5 class="mb-4 text-primary">
  Create Customer
</h5>

<button
  mat-raised-button
  color="primary"
  [routerLink]="'/'"
  class="mb-4"
>
  Back to the list
</button>

<div class="mat-elevation-z2 p-4 rounded bg-white shadow-sm border border-light">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-grid gap-3">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Fill the name</mat-label>
      <input
        matInput
        placeholder="John Doe"
        formControlName="name"
      />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Fill the email</mat-label>
      <input
        matInput
        placeholder="John.Doe@mail.com"
        formControlName="email"
      />
      <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Fill the phone</mat-label>
      <input
        matInput
        placeholder="+1 555 222 3336"
        formControlName="phone"
      />
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>

    <div class="d-flex justify-content-end gap-2 mt-3">
      <button mat-raised-button type="submit" color="primary">
        Save
      </button>
      <button mat-raised-button type="reset">
        Cancel
      </button>
    </div>
    
  </form>
</div>
